<!--fxx-->
<!--Author: FxDr-->
<!--Created Time: 2023/09/30 18:10-->
<!--Filename: plate_re.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/plate_re.css">
    <!--    <link rel="stylesheet" href="../static/css/bootstrap.min.css">-->
    <title>车牌识别</title>
</head>
<body>
<h1>车牌识别</h1>
<button type="button" class="btn-danger" id="logoutButton">退出登录</button>
<button type="button" class="btn-danger" id="uploadButton">上传识别记录</button>
<button type="button" class="btn-danger" id="displayButton">查看识别记录</button>

<br>
<br>

<form method="POST" action="/plate_re" enctype="multipart/form-data">
    <div class="form-group">
        <label for="image_file">选择图像文件:</label>
        <input type="file" id="image_file" name="image_file" accept="image/*" required>
    </div>
    <br>
    <button type="submit" class="btn btn-primary">上传并识别</button>
</form>

{% if plate_number %}
<h2>识别车牌</h2>
<div>
    <img src="{{ image_path }}" alt="识别车牌">
</div>
<h2>识别结果</h2>
<p>车牌号码: {{ plate_number }}</p>
<br>
<p>置信度: {{ confidence }}</p>
<div>
    <img src="{{ image_path2 }}" alt="识别结果">
</div>


{% endif %}

<script>
    // 退出登录按钮绑定事件
    // 获取按钮元素
    let logoutButton = document.getElementById('logoutButton');

    // 为按钮添加点击事件处理
    logoutButton.addEventListener('click', function () {
        // 重定向
        window.location.href = '/plate_re/logout';
    });

    // 上传识别记录按钮绑定事件
    // 获取按钮元素
    let uploadButton = document.getElementById('uploadButton');

    // 添加点击事件监听器
    uploadButton.addEventListener('click', function () {
        // 获取页面中的 plate_number 值
        let plate_number = "{{ plate_number }}";
        // 获取页面中的 confidence 值
        let confidence = "{{ confidence }}";
        // 重定向到/uploadBT路由，将plate_number和confidence作为查询参数传递
        window.location.href = `/plate_re/uploadBT?plate_number=${plate_number}&confidence=${confidence}`;
    });

    // 展示识别数据按钮绑定事件
    // 获取按钮元素
    let displayButton = document.getElementById('displayButton');

    // 为按钮添加点击事件处理
    displayButton.addEventListener('click', function () {
        // 在新标签中打开页面
        window.open('/plate_re/plate_display', '_blank');
    });
</script>
</body>
</html>


